<div class="box">

<toolbar></toolbar>

<div class="box-body table-responsive">
<table class="table table-bordered table-striped" ng-init="cargarDatos()">
    <thead>
      <tr>
        <th ng-click="columna = 'fecha'; orden=!orden">Fecha <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'factura'; orden=!orden">Factura <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'proveedor'; orden=!orden">Proveedor <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'detalles'; orden=!orden">Detalles <span class="caret pull-right"></span></th>
        <th class="text-center"><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entidad in compras | orderBy:columna:orden  | filter:buscar">
          <td>{{entidad.fecha | date: "dd-MM-yyyy"}}</td> 
          <td>{{entidad.factura}}</td> 
          <td>{{entidad.proveedor}}</td>
          <td>{{entidad.detalles}}</td>
          <td class="text-center">
            <button class="btn btn-xs" type="button" title="Detalles" ng-click="modalDetalle(entidad)">
                <i class="glyphicon glyphicon-th-list"></i>
            </button>
          </td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <th ng-click="columna = 'fecha'; orden=!orden">Fecha <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'factura'; orden=!orden">Factura <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'proveedor'; orden=!orden">Proveedor <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'detalles'; orden=!orden">Detalles <span class="caret pull-right"></span></th>
        <th class="text-center"><i class="fa fa-cog"></i></th>
      </tr>
    </tfoot>
</table>

</div>
</div>