
<div class="modal-header">
    <h3 class="modal-title text-center">Compra</h3>
</div>

<div class="modal-body content">

<alertas></alertas>
<div class="row">
    <!-- Formularios -->
    <div class="col-sm-5">
        <div class="box" style="height:300px">
            <div class="box-body">
                <compra ng-show="!view"></compra>
                <detallecompra ng-show="view"></detallecompra>
                <br>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-block" ng-show="!view" ng-click="AddCompra(compra); view = true;" ng-disabled="form_compra.$invalid"><i class="glyphicon glyphicon-ok"></i> Guardar
                    </button>

                    <button class="btn btn-primary btn-block" ng-show="view" ng-click="AddDetalle(detalle)" ng-disabled="form_detalle.$invalid"><i class="glyphicon glyphicon-plus"></i> Agregar
                    </button>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-default btn-block" ng-show="view" ng-click="view = !view">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-default btn-block" ng-show="view" ng-click="">
                        <i class="glyphicon glyphicon-print"></i> Imprimir
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Factura -->
    <div class="col-sm-7">
        <div class="box" style="height:410px;">
            <div class="box-body">
                <listacompra></listacompra>
            </div>
        </div>
    </div>
    <!-- Guardar -->
    <div class="col-sm-12">
        <div class="box-footer">
            <button class="btn btn-primary pull-right" ng-click="Ok()">Guardar</button>
            <a href="" class="btn" ng-click="Cancelar();">Salir</a>
        </div>
    </div>
</div>