<div class="box">

<toolbar></toolbar>

<div class="box-body table-responsive">
<table class="table table-bordered table-striped" ng-init="cargarDatos()">
    <thead>
      <tr>
        <th ng-click="columna = 'nombre'; orden=!orden">Nombre <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'telefono'; orden=!orden">Teléfono <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'email'; orden=!orden">Correo <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'contacto'; orden=!orden">Contacto <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'departamento'; orden=!orden">Departamento <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'municipio'; orden=!orden">Municipio <span class="caret pull-right"></span></th>
        <th class="text-center"><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entidad in proveedores | orderBy:columna:orden  | filter:buscar">
            <td>{{entidad.nombre}}</td> 
            <td>{{entidad.telefono}}</td> 
            <td>{{entidad.email}}</td>
            <td>{{entidad.contacto}}</td>
            <td>{{entidad.departamento}}</td>
            <td>{{entidad.municipio}}</td>
            <td>
                <opciones></opciones>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
        <th ng-click="columna = 'nombre'; orden=!orden">Nombre <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'telefono'; orden=!orden">Teléfono <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'email'; orden=!orden">Correo <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'contacto'; orden=!orden">Contacto <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'departamento'; orden=!orden">Departamento <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'municipio'; orden=!orden">Municipio <span class="caret pull-right"></span></th>
        <th class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
    </tfoot>
</table>
</div>
</div>

