
<div class="box">

<toolbar></toolbar>
<div class="box-body table-responsive">
<table class="table table-bordered table-hover" ng-init="cargarDatos()">
    <thead>
      <tr>
        <th ng-click="columna = 'nombre'; orden=!orden">Nombre <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'tipo'; orden=!orden">Tipo <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidades'; orden=!orden">Unidades <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidad'; orden=!orden">Unidad <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'cantidad'; orden=!orden">Cantidad <span class="caret pull-right"></span></th>
        <!-- <th class="text-center"><i class="fa fa-cog"></i></th> -->
      </tr>
    </thead>
    <tbody>
    	<tr ng-repeat="entidad in productos | orderBy:columna:orden  | filter:buscar" ng-class="{'danger' : entidad.cantidad < entidad.minimo, 'warning' : vencimiento(entidad.vencimiento) }">
            <td><a href="" ng-click="detalles(entidad);">{{entidad.nombre}}</a></td>
            <td>{{entidad.tipo}}</td>
            <td class="text-center">{{entidad.unidades}}</td>
            <td>{{entidad.unidad}}</td>
            <td class="text-center">{{entidad.cantidad}}</td>
            <!-- <td class="text-center"> <opciones></opciones> </td> -->
        </tr>
    </tbody>
    <tfoot>
        <tr>
        <!-- Columnas -->
        <th ng-click="columna = 'nombre'; orden=!orden">Nombre <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'tipo'; orden=!orden">Tipo <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidades'; orden=!orden">Unidades <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidad'; orden=!orden">Unidad <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'cantidad'; orden=!orden">Cantidad <span class="caret pull-right"></span></th>
        <!-- Opciones -->
        <!-- <th class="text-center"><i class="fa fa-cog"></i></th> -->
        </tr>
    </tfoot>
</table>
</div>
</div> 
