
<div class="modal-header">
    <h3 class="modal-title text-center">{{sucursal.nombre}}</h3>
</div>

<div class="modal-body content">
    <div class="box">
        <div class="box-body">
        <div class="row">
            <alertas></alertas>

            <form name="formulario" role="form">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="nombre"> * Nombre:</label>
                    <div class="controls">
                        <input type="text" class="form-control" ng-model="sucursal.nombre" placeholder="Nombre" required />
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label" for="direccion"> Dirección:</label>
                    <div class="controls">
                        <textarea class="form-control" rows="2" ng-model="sucursal.direccion" placeholder="direccion"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label"> Departamento:</label>
                    <div class="controls">
                        <select class="form-control" ng-change="buscar_muni(dep.id); sucursal.departamento = dep.nombre" 
                            ng-options="opt as opt.nombre for opt in departamentos" ng-model="dep">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label"> Municipio:</label>
                    <div class="controls">
                        <select class="form-control" ng-change="sucursal.municipio_id = muni.id; sucursal.municipio = muni.nombre"
                            ng-options="opt as opt.nombre for opt in municipios" ng-model="muni">
                        </select>
                        <input type="hidden" ng-model="sucursal.municipio_id">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="telefono"> Teléfono:</label>
                    <div class="controls">
                        <input type="tel" class="form-control" ng-model="sucursal.telefono" placeholder="Teléfono"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="email"> * Correo:</label>
                    <div class="controls">
                        <input type="email" class="form-control" ng-model="sucursal.email" placeholder="Correo" required/>
                    </div>
                </div>
            </div>
            </form>
        </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-primary pull-right" ng-click="Ok(sucursal);" ng-disabled="formulario.$invalid">Guardar</button>
            <a href="" class="btn" ng-click="Cancelar();">Cancelar</a>
        </div>
    </div>
</div>

