<form name="form_venta" class="form-vertical" role="form" >

<div class="col-xs-12" style="margin: -20px 0px">
<a href="" class="btn btn-xs pull-right" ng-click="ver = !ver">
    <i ng-show="ver" class="glyphicon glyphicon-chevron-right"></i>
</a>

<a href="" class="btn btn-xs pull-left" ng-click="ver = !ver">
    <i ng-show="!ver" class="glyphicon glyphicon-chevron-left"></i>
</a>
</div>

<div ng-show="ver">
    <div class="form-group col-sm-12">
        <label class="control-label"> Fecha:</label>
        <div class="controls">
            <input type="text" datetime class="form-control" ng-model="venta.fecha" placeholder="Fecha" required />
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="control-label"> Factura:</label>
        <div class="controls">
            <input type="text" class="form-control" ng-model="venta.factura" placeholder="Factura" required />
        </div>
    </div>
    <div class="col-sm-12">
	    <div class="form-group">
	        <label class="control-label"> Cliente:</label>
	        <div class="controls">
	            <ui-select required ng-model="cliente" theme="bootstrap"
	            	on-select="venta.cliente_id = cliente.id; venta.cliente = cliente.nombre;"
	            	on-remove="venta.cliente_id = '' ">
	              <ui-select-match allow-clear placeholder="Buscar">{{$select.selected.nombre}}</ui-select-match>
	              <ui-select-choices repeat="item in clientes | filter: $select.search">
	                <div ng-bind-html="item.nombre | highlight: $select.search"></div>
	              </ui-select-choices>
	            </ui-select>
				<input type="hidden" ng-model="venta.cliente_id" required />
	        </div>
	    </div>
	</div>
    <button class="btn btn-primary btn-block" ng-show="!view" ng-click="ver = !ver"><i class="glyphicon glyphicon-ok"></i> Guardar
    </button>
</div>

<div ng-show="!ver">
    <div class="form-group col-sm-12">
        <div class="controls">
            <input type="hidden" ng-model="venta.tipo_factura_id">
            <br>
            <button type="button" id="ticket" class="btn btn-{{btnclass[0]}} btn-block" 
            ng-click="venta.tipo_factura_id = 1; AddVenta(venta)">Ticket</button>
            <br>
            <button type="button" id="recibo" class="btn btn-{{btnclass[1]}} btn-block" 
            ng-click="venta.tipo_factura_id = 2; AddVenta(venta)">
            Recibo</button>
            <br>
            <button type="button" id="factura" class="btn btn-{{btnclass[2]}} btn-block" 
            ng-click="venta.tipo_factura_id = 3; AddVenta(venta)">
                Factura</button>
        </div>
    </div>
</div>

</form>