
<div class="modal-header">
    <h3 class="modal-title text-center">Venta</h3>
</div>

<div class="modal-body content">

<div class="row">
    <!-- Detalle -->
    <div class="col-sm-5">
        <div class="box" style="height:400px" ng-init="iniciar();">
			<br>
            <div class="box-body">
                <venta ng-show="!view"></venta>
                <detalle ng-show="view"></detalle>
            
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-block" ng-show="view" ng-click="AddDetalle(detalle)" ng-disabled="form_detalle.$invalid"><i class="glyphicon glyphicon-plus"></i> Agregar
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-default btn-block" ng-show="view" ng-click="view = !view">
                        <i class="glyphicon glyphicon-pencil"></i> Editar
                    </button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-default btn-block" ng-show="view" ng-click="">
                        <i class="glyphicon glyphicon-print"></i> Imprimir
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Factura -->
    <div class="col-sm-7">
        <div class="box" style="height:400px;">
            <div class="box-body">
                <listaventa></listaventa>
            </div>
        </div>
    </div>
    <!-- Guardar -->
    <div class="col-sm-12">
        <div class="box-footer">
            <button class="btn btn-primary pull-right" ng-click="Ok();">Guardar</button>
            <a href="" class="btn" ng-click="Cancelar();">Salir</a>
        </div>
    </div>
</div>
</div>