
<div class="box">

<toolbar></toolbar>
<div class="box-body table-responsive">
<table class="table table-bordered table-striped" ng-init="cargarDatos()">
    <thead>
      <tr>
        <th ng-click="columna = 'nombre'; orden=!orden">Nombre <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'descripcion'; orden=!orden">Descripción <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'tipo'; orden=!orden">Tipo <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidades'; orden=!orden">Unidades <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidad'; orden=!orden">Unidad <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'categoria'; orden=!orden">Categoria <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'subcategoria'; orden=!orden">Sub Categoria <span class="caret pull-right"></span></th>
        <th class="text-center"><i class="fa fa-cog"></i></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entidad in productos | orderBy:columna:orden  | filter:buscar">
            <td>{{entidad.nombre}}</td>
            <td>{{entidad.descripcion | limitTo:20}}</td> 
            <td>{{entidad.tipo}}</td>
            <td>{{entidad.unidades}}</td>
            <td>{{entidad.unidad}}</td>
            <td>{{entidad.categoria}}</td>
            <td>{{entidad.subcategoria}}</td>
            <td class="text-center">
              <opciones></opciones>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
        <!-- Columnas -->
        <th ng-click="columna = 'nombre'; orden=!orden">Nombre <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'descripcion'; orden=!orden">Descripción <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'tipo'; orden=!orden">Tipo <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidades'; orden=!orden">Unidades <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'unidad'; orden=!orden">Unidad <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'categoria'; orden=!orden">Categoria <span class="caret pull-right"></span></th>
        <th ng-click="columna = 'subcategoria'; orden=!orden">Sub Categoria <span class="caret pull-right"></span></th>
        <!-- Opciones -->
        <th class="text-center"><i class="fa fa-cog"></i></th>
        </tr>
    </tfoot>
</table>
</div>
</div> 
